[submodule "leek-wars"]
	path = leek-wars
	url = git@github.com:leek-wars/leek-wars.git
[submodule "leek-wars-generator"]
	path = leek-wars-generator
	url = git@github.com:leek-wars/leek-wars-generator.git
[submodule "ai"]
	path = ai
	url = git@github.com:NyalephTheCat/leekwars-ai.git
