[submodule "crates/sipha"]
	path = crates/sipha
	url = git@github.com:sipha-parser/sipha.git
[submodule "leekscript-code"]
	path = leekscript-code
	url = git@github.com:NyalephTheCat/leekscript-code.git
[submodule "crates/leekscript-rs/leekscript-lsp"]
	path = crates/leekscript-rs/leekscript-lsp
	url = git@github.com:NyalephTheCat/leekscript-lsp.git
[submodule "Leekwars-Tools"]
	path = Leekwars-Tools
	url = git@github.com:Bux42/Leekwars-Tools.git
